<%- include ("../layouts/header") %>

<form actions="/formulaire" method="post" class="ui form">
	<div class="field">
		<label for="message">Message</label>
		<textarea name="message" id="message"></textarea>
	</div>
	<button type="submit" class="ui blue labeled submit icon button">
		<i class="icon edit"></i> Envoyer
	</button>
</form>

<div class="ui comments">
	<h3 class="ui dividing header">Commentaires</h3>
	<% for (message of messages) { %>
	<div class="comment">
		<a class="avatar" href="/post/<%= message.id %>">
			<img src="https://cdn.icon-icons.com/icons2/1736/PNG/512/4043247-1-avatar-female-portrait-woman_113261.png">
		</a>
		<div class="content">
			<div class="metadata">
				<div class="date">
					<%= message.created_at.fromNow() %>
				</div>
			</div>
			<div class="text"><%= message.content %></div>
		</div>
	</div>
	<% } %>
</div>

<%- include ("../layouts/footer") %>
