<%- include ("../layouts/header") %>

<h1>Captcha disponible(s) :</h1>

<div class="content">
    <form actions="/"  method="post" class="ui form" id="search-form">
    	<div class="field">
            <label for="theme_id">Thème</label>
            <select name="theme_id" id="theme_id" onchange="document.getElementById('search-form').submit();">
                <option value="%">All</option>
                <% for (theme of themes) { %>
                    <option value="<%= theme.id %>" <% if (locals.selected_theme && selected_theme == theme.id) { %>selected<% } %>><%= theme.name %></option>
                <% } %>
            </select>
    	</div>

    	<div class="field">
            <label for="user_id">Créateur</label>
            <select name="user_id" id="user_id" onchange="document.getElementById('search-form').submit();">
                <option value="%">All</option>
                <% for (usr of users) { %>
                    <option value="<%= usr.id %>" <% if (locals.selected_user && selected_user == usr.id ) { %>selected<% } %>><% if (locals.user && user.id == usr.id) { %>moi<% } else { %><%= usr.name %><% } %></option>
                <% } %>
            </select>
    	</div>
    </form>


    <table class="ui celled table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Url</th>
                <th>Thème</th>
                <th>Créateur</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% for (package of packages) { %>
            <tr>
                <td><%= package.id %></td>
                <td><%= package.name %></td>
                <td><%= package.url %></td>
                <td><%= package.theme_id %></td>
                <td><%= package.user_id %></td>
                <td><a href="/packages/<%= package.id %>">inspecter</a></td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>

<%- include ("../layouts/footer") %>
